[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/src/jhbuild/checkout/dbus/test/test-shell-service -test "that" 'we get' back --what "we put in"
User=anyrandomuser

